<div class="container">
  <zenar-header/>
  <div class="breadcrumbs flex gap-2 items-center">
    <span>Home page</span>
    <span class="breadcrumbs-dot"></span>
    <span>FAQS</span>
  </div>
  <main class="privacy">
    <h1 class="title mb-10">Faq</h1>

    <div class="list-container flex gap-8">
      <div class="sections">
        <ul class="flex flex-col gap-4 w-[392px]">
          <li *ngFor="let node of dataSource; let i = index">
            <div class="flex justify-between" (click)="toggleNode(i)">
              <li [ngClass]="{'active': isExpanded(i)}"><a>{{ node.name }}</a></li>
              <button>
                @if(isExpanded(i)) {
                  <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="">
                } @else {
                  <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="">
                }
              </button>
            </div>
      
            <ul class="gap-4 mt-4 flex flex-col" *ngIf="isExpanded(i)">
              <li class="pl-6 sections-child w-[382px]" *ngFor="let child of node.children">
                <span>{{ child.name }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    
      <div class="content flex flex-col gap-8" [ngSwitch]="expandedNodeIndex">
        <div *ngSwitchCase="0">
          <p>Content for General Information</p>
        </div>
        <div *ngSwitchCase="1">
          <p>Content for Plan and Pricing</p>
        </div>
        <div *ngSwitchCase="2">
          <p>Content for Claims</p>
        </div>
        <div *ngSwitchCase="3">
          <p>Content for Device Security and Data</p>
        </div>
        <div *ngSwitchCase="4">
          <p>Content for Refunds and Compensation</p>
        </div>
        <div *ngSwitchCase="5">
          <p>Content for Account and Technical Support</p>
        </div>
        <div *ngSwitchDefault>
          <p>Select a section to see content</p>
        </div>
      </div>
    </div>
  </main>
</div>
<footer class="footer">
  <div class="container">
    <zenar-footer/>
  </div>
</footer>