<div class="container">
  <zenar-header/>
  <div class="breadcrumbs flex gap-2 items-center">
    <span>Home page</span>
    <span class="breadcrumbs-dot"></span>
    <span>Privacy policy</span>
  </div>
  <section class="logotype">
    <img class="block mx-auto" src="../../../assets/icons/biglogo.svg" alt="logo">
    <h1>
      About Us
    </h1>
  </section>
  <section class="welcome">
    <h1 class="title">Welcome Message from the Founder</h1>
    <div class="welcome-body mt-10 flex items-start gap-8">
      <img class="w-[392px]" src="../../../assets/pictures/about-owner.png" alt="">
      <div class="welcome-body-content">
        <h2 class="welcome-body-content-title">Askar Karimov</h2>
        <h4 class="welcome-body-content-subtitle">ZENAR Founder and CEO</h4>
        <div class="welcome-body-content-text">
          Thank you for choosing ZENAR. We're here to support you and protect your devices, so when life’s little accidents happen, they don't get in the way of what matters most to you.
        </div>
        <div class="welcome-body-content-text">
          In today’s busy world, we know how essential your devices are for staying connected, getting work done, and enjoying life. That’s why we created ZENAR, a solution that takes the stress out of dealing with broken or damaged devices. It all began over ten years ago when we launched as Keep Talk, a small startup with a big dream: to make device protection easier and more accessible. We knew that traditional warranties often involved complicated paperwork, long waiting periods for repairs, and uncertainty.
        </div>
        <div class="welcome-body-content-text">
          We wanted to change that and offer something different: a quick, straightforward guaranteed refund process that gets you back on track in no time. As we grew and evolved into ZENAR, our commitment to innovation and customer satisfaction only strengthened. We've developed a unique service that stands out with a 70% refund guarantee and processing claims in just 5 minutes. This means you can quickly replace your damaged device without the usual stress and delays.
        </div>
        <div class="welcome-body-content-text">
          Our story is about more than just growth; it's about the relationships we've built with our customers and the trust they've placed in us. We've become a reliable source of support for over 1 million users, offering peace of mind to our expanding community.
        </div>

      </div>
    </div>
  </section>
</div>
<div class="mission">
  <div class="container">
    <section class="mission">
      <h1 class="title">OUR MISSION</h1>
      <div class="mission-cards my-10 flex gap-8">
        <div class="mission-card flex flex-col gap-2">
          <div class="mission-card-title flex gap-2">
            <img src="../../../assets/icons/block.svg" alt="">
            <h3>Seamless Protection</h3>
          </div>
          <div class="mission-card-body">
            <p>
              We are committed to delivering reliable protection and support for digital and home electronics worldwide, ensuring that both individuals and organizations feel continuously reassured.
            </p>
          </div>
        </div>
        <div class="mission-card flex flex-col gap-2">
          <div class="mission-card-title flex gap-2">
            <img src="../../../assets/icons/refund.svg" alt="">
            <h3>Refund guarantee</h3>
          </div>
          <div class="mission-card-body">
            <p>
              Our innovative refund guarantee reflects our dedication to customer satisfaction, providing peace of mind when it comes to protecting your electronics.
            </p>
          </div>
        </div>
        <div class="mission-card flex flex-col gap-2">
          <div class="mission-card-title flex gap-2">
            <img src="../../../assets/icons/exception.svg" alt="">
            <h3>Exceptional Customer Service</h3>
          </div>
          <div class="mission-card-body">
            <p>
              We empower our customers with top-tier service, enabling them to navigate their digital and home lives with confidence and security.
            </p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 grid-rows-2 gap-8">
        <img src="../../../assets/pictures/about-image1.png" class="w-full h-auto" alt="Photo 1">
        <img src="../../../assets/pictures/about-image3.png" class="w-full h-auto row-span-2" alt="Photo 2">
        <img src="../../../assets/pictures/about-image2.png" class="w-full h-auto" alt="Photo 3">
        <img src="../../../assets/pictures/about-image2.png" class="w-full h-auto" alt="Photo 4">
        <img src="../../../assets/pictures/about-image4.png" class="w-full h-auto" alt="Photo 5">
      </div>
    </section>
  </div>
</div> 
<div class="container">
  <section class="vision">
    <h1 class="title">
      Our vision
    </h1>
    <div class="vision-content flex items-center gap-8 mt-10">
      <div class="vision-content-image w-1/2">
        <img src="../../../assets/pictures/vision.png" alt="">
      </div>
      <div class="vision-content-body w-1/2">
        <h3 class="vision-content-body-title">Global leaders in protecting your digital life</h3>
        <h5 class="vision-content-body-subtitle mt-6">
          Innovation-Driven Security
        </h5>
        <p class="vision-content-body-text mt-1">Pioneering global protection for electronic devices through innovation.</p>
        <h5 class="vision-content-body-subtitle mt-4">
          Customer-Focused Vision
        </h5>
        <p class="vision-content-body-text mt-1">Ensuring a seamless and secure digital life for everyone.</p>
        <h5 class="vision-content-body-subtitle mt-4">
          Global Expansion
        </h5>
        <p class="vision-content-body-text mt-1">Committed to growing our international presence and building lasting customer relationships.</p>
        <h5 class="vision-content-body-subtitle mt-4">
          Practical Solutions
        </h5>
        <p class="vision-content-body-text mt-1">Delivering effective solutions for evolving digital needs.</p>
      </div>
    </div>
  </section>
</div>
<section class="values">
  <div class="container">
    <h1 class="title">Our values</h1>

    <div class="cards mt-10 flex flex-wrap justify-center gap-x-8 gap-y-64">
      <div class="card w-[392px] h-fit">
        <h3 class="card-title">
          Reliability
        </h3>
        <p class="card-content">
          We are dedicated to consistently delivering on our promises and being the trusted partner that clients, partners, and the community<br>can rely on
        </p>
      </div>
      <div class="card w-[392px] h-fit mt-10">
        <h3 class="card-title">
          Compassion
        </h3>
        <p class="card-content">
          We prioritize understanding and addressing the needs and concerns of everyone we engage<br>with
        </p>
      </div>
      <div class="card w-[392px] h-fit">
        <h3 class="card-title">
          Honesty
        </h3>
        <p class="card-content">
          We believe in open communication and fair practices in all our interactions
        </p>
      </div>
      <div class="card w-[392px] h-fit">
        <h3 class="card-title">
          Innovation
        </h3>
        <p class="card-content">
          Our team is committed to exploring new ways to enhance services and meet evolving<br>demands
        </p>
      </div>
      <div class="card w-[392px] h-fit">
        <h3 class="card-title">
          Community
        </h3>
        <p class="card-content">
          We build strong, lasting relationships with our customers and partners, value our connections and work to maintain them
        </p>
      </div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <h1 class="title">
      Our Partners
    </h1>
    <div class="logos mt-10 flex items-center gap-[195px]">
      <img src="../../../assets/pictures/partner1.png" alt="">
      <img src="../../../assets/pictures/partner2.png" alt="">
      <img src="../../../assets/pictures/partner3.png" alt="">
    </div>
    <div class="logos mt-[64px] flex items-center gap-[95px]">
      <img src="../../../assets/pictures/partner4.png" alt="">
      <img src="../../../assets/pictures/partner5.png" alt="">
      <img src="../../../assets/pictures/partner6.png" alt="">
    </div>
  </div>
</section>

<section class="join">
  <div class="container">
    <h1 class="join-title">
      Join the ZENAR partners
    </h1>
    <h2 class="join-subtitle mt-2">
      Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit.
    </h2>
    <button mat-button class="mt-10" color="primary">Contact us now</button>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <zenar-footer/>
  </div>
</footer>