<div class="container">
  <zenar-header/>
  <div class="breadcrumbs py-10 flex gap-2 items-center">
    <span>Home page</span>
    <span class="breadcrumbs-dot"></span>
    <span>How it works</span>
  </div>
</div>
<section class="works">
  <div class="container">
    <h1 class="title">
      How it works
    </h1>
  </div>
</section>
<section class="protect">
  <div class="container">
    <h1 class="title">Protect your device with ZENAR</h1>
    <h4 class="subtitle mt-4">You can protect your device when you buy it in-store or later on our website. To purchase the plan online, follow 3 simple steps</h4>

    <div class="steps-container mt-10">
      <div class="step">
        <h1 class="step-title">
          Choose Your Plan
        </h1>
        <div class="step-body mt-4">
          <div class="step-body-content flex">
            <img src="../../../assets/icons/stress.svg" alt="">
            <span>Explore Options: Visit our Coverage Plans page</span>
          </div>
          <div class="step-body-content flex">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <zenar-footer/>
  </div>
</footer>