<div class="container">
  <zenar-header/>
  <div class="breadcrumbs py-10 flex gap-2 items-center">
    <span>Home page</span>
    <span class="breadcrumbs-dot"></span>
    <span>How it works</span>
  </div>
</div>
<section class="works">
  <div class="container">
    <h1 class="title">
      How it works
    </h1>
  </div>
</section>
<section class="protect">
  <div class="container">
    <h1 class="title">Protect your device with ZENAR</h1>
    <h4 class="subtitle mt-4">You can protect your device when you buy it in-store or later on our website. <br>To purchase the plan online, follow 3 simple steps</h4>

    <div class="steps-wrap mt-10">
      <div class="steps-container">
        <div class="step w-[392px]">
          <h1 class="step-title">
            Choose Your Plan
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Explore Options:</b> Visit our Coverage <a href="/home">Plans page</a></span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Compare Plans:</b> Use our tools to find the best coverage for your device</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="steps-container flex justify-end">
        <div class="step w-[392px]">
          <h1 class="step-title">
            Sign Up and Register
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Create Account:</b> Click <a href="/home">"Sign Up"</a> and enter your details</span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Register Device:</b> Provide your device's brand, model, and purchase date. Attach a photo of the IMEI or serial number for verification</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="steps-container">
        <div class="step w-[392px]">
          <h1 class="step-title">
            Purchase Your Plan
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Payment Options:</b> Choose full payment or installments</span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Review and Confirm:</b> Double-check your details before purchasing. Confirm coverage by receiving a confirmation email</span>
            </div>
          </div>
        </div>
      </div>
  
      <img src="../../../assets/vector.svg" alt="" class="steps-wrap-vector">
      <img src="../../../assets/pictures/enjoy.svg" class="steps-wrap-enjoy" alt="">
    </div>
  </div>
</section>
<section class="accidents">
  <h1 class="title">
    ACCIDENTS
  </h1>
  <h1 class="title">
    DO HAPPEN!
  </h1>
</section>
<section class="protect">
  <div class="container">
    <h1 class="title">Quick Guide to Refunds</h1>
    <h4 class="subtitle mt-4">You can file you claims via Telegram Help (link), or on this website. Follow<br> these simple steps to file a claim</h4>

    <div class="steps-wrap mt-10">
      <div class="steps-container">
        <div class="step w-[392px]">
          <h1 class="step-title">
            File a Claim
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Easy Claims:</b> Log in to your <a routerLink="/home">personal account</a> or go to <a routerLink="/home">"File a Claim"</a> or go to <a href="">Telegram Help chat</a></span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Provide details:</b> provide details about the damage (description and device photo)</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="steps-container flex justify-end">
        <div class="step w-[392px]">
          <h1 class="step-title">
            Get Decision within Minutes
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Quick Decisions:</b> Get a decision within 5 minutes</span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Receive Notification:</b> Be notified immediately once your claim is processed and get the list of nearest Stores</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="steps-container">
        <div class="step w-[392px]">
          <h1 class="step-title">
            Receive Your Refund
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Visit Nearest Store:</b> Provide your ID and device for inspection and verification</span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Get Money Back:</b> Receive your refund up to 70% of the original value</span>
            </div>
          </div>
        </div>
      </div>
  
      <img src="../../../assets/vector.svg" alt="" class="steps-wrap-vector">
      <div class="steps-container flex mt-10 items-center justify-end gap-10">
        <img src="../../../assets/pictures/enjoybox.svg" alt="">
        <div class="step w-[392px]">
          <h1 class="step-title">
            Buy a New Device
          </h1>
          <div class="step-body mt-4">
            <div class="step-body-content flex items-start gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b class="bold">Choose a New Device:</b> Use your refund to purchase a new device</span>
            </div>
            <div class="step-body-content mt-2 items-start flex gap-2">
              <img src="../../../assets/icons/stress.svg" alt="">
              <span><b>Protect Again:</b> Cover your new device with ZENAR protection plan</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="take">
  <div class="container flex">
    <h1 class="title">
      Take 5 minutes today to enjoy<br> peace of mind for years
    </h1>
  </div>
</section>
<section class="stores">
  <div class="container">
    <h1 class="title">You may also protect your device<br>
      with <span class="italic">ZENAR</span> in the following stores</h1>
    <div class="selects flex items-center gap-12">
      <div class="select flex items-center gap-4 w-[454px]">
        <p>Select country:</p>
        <mat-select>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </div>
      <div class="select flex items-center gap-4 w-[454px]">
        <p>Select city:</p>
        <mat-select>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </div>
    </div>
      <div id="map" style="width: 100%; height: 677px;"></div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <zenar-footer/>
  </div>
</footer>