.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BFBFBF;
  &-dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #FF9829;
  }
}

.works {
  padding: 80px 0;
  height: 400px;
  background: url('../../../assets/backgrounds/works/howitworks.png') center/cover no-repeat;
  .title {
    color: white;
  }
}

.protect {
  padding: 80px 0;
  .subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #1E1E1E;
  }
  .steps {
    &-wrap {
      position: relative;
      &-vector {
        position: absolute;
        top: 111px;
        left: 50%;
        transform: translate(-50%, 0);
      }
      &-enjoy {
        margin-left: 50%;
      }
    }
  }
  .step {
    padding: 16px 24px;
    background: #F5F5F5;
    border-radius: 16px;
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #0C5B7E;
    }
    &-body {
      &-content {
        span {
          font-weight: 400;
          font-size: 20px;
          line-height: 140%;
          color: #465358;
        }
        a {
          color: #16749E;
        }
      }
    }
  }
}

.accidents {
  padding: 80px 115px;
  height: 540px;
  background: url('../../../assets/backgrounds/works/accidents.png') center/cover no-repeat;
  .title {
    color: #16749E;
    font-weight: 700;
    font-size: 86px;
    line-height: 117px;
    &:nth-of-type(1) {
      text-align: start;
    }
    &:nth-of-type(2) {
      text-align: end;
      margin-top: 170px;
    }
  }
}

.take {
  height: 540px;
  padding: 80px 0;
  background: url('../../../assets/backgrounds/works/take.png') center/cover no-repeat;
  .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .title {
    color: white;
  }
}

.stores {
  padding: 100px 0;
  .title {
    line-height: 20px;
  }

  .selects {
    padding: 40px 0;
  }
}