<div class="container">
  <zenar-header/>
  <div class="breadcrumbs flex gap-2 items-center">
    <span>Home page</span>
    <span class="breadcrumbs-dot"></span>
    <span>Coverage Plans</span>
  </div>
</div>
<section class="first-section mt-10">
  <div class="container">
    <h1 class="title">Coverage Plans</h1>
  </div>
</section>
<section class="protection">
  <div class="container flex flex-col">
    <h1 class="title">Select the Perfect Protection for Your Device</h1>
    <span class="protection-content">
      At ZENAR, we make protection simple. We cover absolutely <p>any type of damage</p> — from fire and liquid<br class="except"> to mechanical or software failure—so you don’t have to worry about the unexpected. <br>
      All you need to do is choose how long you want to be covered - with clear upfront pricing.
    </span>
  </div>
</section>

<section class="choose">
  <div class="container flex flex-col">
    <h1 class="title">Choose Your Device Type for Customized Protection</h1>

    <div class="choose-cards flex gap-8 my-8">
      <div class="choose-card flex flex-col items-center">
        <img src="../../../assets/pictures/smartphone.png" alt="">
        <h3 class="choose-card-title mt-6">Smartphones</h3>
      </div>

      <div class="choose-card flex flex-col items-center">
        <img src="../../../assets/pictures/laptop.png" alt="">
        <h3 class="choose-card-title mt-6">Laptops</h3>
      </div>

      <div class="choose-card flex flex-col items-center">
        <img src="../../../assets/pictures/headphones.png" alt="">
        <h3 class="choose-card-title mt-6">Wearable devices</h3>
      </div>

      <div class="choose-card flex flex-col items-center">
        <img src="../../../assets/pictures/productcardsmall.png" alt="">
        <h3 class="choose-card-title mt-6">Small appliances</h3>
      </div>

      <div class="choose-card flex flex-col items-center">
        <img src="../../../assets/pictures/productcardmajor.png" alt="">
        <h3 class="choose-card-title mt-6">Major appliances</h3>
      </div>
    </div>
  </div>
</section>

<section class="compare">
  <div class="container">
    <h1 class="title">Compare Plans and Pick the Best Coverage<br class="except">
      for Your <span class="italic">Smartphone</span></h1>

    
  </div>
</section>

<!-- <footer class="footer">
  <div class="container">
    <zenar-footer/>
  </div>
</footer> -->