.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BFBFBF;
  &-dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #FF9829;
  }
}

.first-section {
  padding: 178px 0;
  display: block;
  height: 400px;
  background: url('../../../assets/backgrounds/coverage-plans/bluewithphone.png') center/cover no-repeat;
  .title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
  }
}

.protection {
  padding: 80px 0;
  &-content {
    margin-top: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #5E7079;
    text-align: center;
    p {
      display: inline;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #FF9829;
    }
  }
}

.choose {
  padding-top: 80px;
  background-color: #F5F5F5;
  &-cards {
    width: 100%;
  }
  &-card {
    padding: 8px 24px 24px 24px;
    max-height: 300px;
    justify-content: space-between;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    border-top-width: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    h3 {
      text-align: center;
    }
    &:nth-child(1) {
      border-color: #FF9829;
    }
    &:nth-child(2) {
      border-color: #23C2EF;;
    }
    &:nth-child(3) {
      border-color: #C6EF32;
    }
    &:nth-child(4) {
      border-color: #16749E;
    }
    &:nth-child(5) {
      border-color: #BFBFBF;
    }
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #1E1E1E;
    }
  }
}

.compare {
  padding: 80px 0;
  background-color: #F5F5F5;
  .frame {
    margin: 0 auto;
    .left {
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #0C5B7E;
      }
    }
    .right {
      background: #FFFFFF;
      border-radius: 16px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .title {
        display: flex;
        flex-direction: column;
        text-align: unset;
        h1 {
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          color: #5E7079;
        }
        h2 {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #5E7079;
        }
      }
    }
  }
}

.plan-options {
  display: flex;
  gap: 10px;
}

.plan-option {
  padding: 10px 20px;
  border: 2px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.plan-option.selected {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}